body {
	margin: 0px;
	background-color: #0f0f14;
}
a {
	text-decoration: none;
}
.header {
	background-color: #0f0f14;
    position: fixed;
    opacity: 80%;
    display: flex;
    justify-content: space-between;
	width: 100%;
	z-index: 1;
}
.header a{ 
	font-size: 17px;
	height: 20px;
	width: 220px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	padding: 20px;
	color:#f7f7f7;
    border-bottom: 2px solid #45adff;
	transition-duration: 0.5s;
	overflow: hidden;
}
a.selec{ 
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	padding: 20px;
    background-color:#45adff;
	float: justify;
	color:#0f0f14;
	transition-duration: 0.5s;
	overflow: hidden;
}
.header a:hover{
	background-color:#45adff;
	font-size: 20px;
    color: #0f0f14;
}
.logo{
	background: linear-gradient(0deg, rgba(15,15,20,1) 0%, rgba(15,15,20,0.2) 15%, rgba(15,15,20,0.2) 50%, rgba(15,15,20,0.2) 70%, rgba(15,15,20,1) 85%), url("imagens/bg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 90%;
}
.logo img{
	margin-top: 120px;
	width: 30%;
	padding-bottom: 60px;
}
.animacao {
	-webkit-animation: animacao 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: animacao 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes animacao {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes animacao {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
::selection{
	color: #f7f7f7;
	background-color: #45adff;
}

